#work {
    background-color: #EDF7F6;
}

#work .row-content {
    height: 100%;
    width: 100%;

    display: block;
}

#work .row-header {
    height: 10%;
    min-height: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 2.5rem;

    padding-bottom: 0;
}

#work .row-body {
    height: 90%;
    min-height: fit-content;
    width: 100%;

    padding-top: 32px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#work .work-collapsible {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;

    display: flex;
    align-items: flex-start;
    justify-content: top;
    flex-direction: column;
}

#work .work-collapsible-card-header {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

    position: relative;
}

#work .work-collapsible-card-active, #work .work-collapsible-card-header:hover {
    background-color: #ccc;
    text-decoration: underline;
}

#work .work-collapsible-card-header:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
#work .work-collapsible-card-header.active:after {
    content: "\2212";
}

#work .work-collapsible-card-content {
    max-height: 0px;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#work .work-collapsible-card-content-shown-by-default {
    max-height: 100%;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media only screen and (max-aspect-ratio: 9/24),
screen and (max-width: 1000px) {
    #work .row-content {
        min-height: 350px;
        max-height: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #work .row-header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;

        padding-bottom: 1%;
    }

    #work .row-body {
        padding-top: 0;
    }

    #work .work-collapsible {
        border-top: unset;
        position: relative;
        list-style: none;
        left: 8px;

        flex-direction: column;
    }
}