#work {
    background-color: yellowgreen;
}

#work .row-content {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#work .row-header {
    height: 10%;
    font-size: 2.5rem;

    padding-bottom: 0;
}

#work .row-body {
    height: 90%;
    width: 90%;
}

#work .work-collapsible {
    width: 100%;
    height: 95%;
    max-width: 2000px;

    display: flex;
    flex-direction: column;
}

#work .work-collapsible-card-header {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

    position: relative;
}

#work .work-collapsible-card-header:hover:not(.active) {
    background-color: #D1464A;
    color: white;
    text-decoration: underline;
}

#work .work-collapsible-card-header:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

#work .work-collapsible-card-header.active {
    /* text-decoration: underline; */
    background-color: #7A3736;
    color: white;
    font-weight: bold;
}

#work .work-collapsible-card-header.active:after {
    content: "\2212";
}

#work .work-collapsible-card-content {
    max-height: 0;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
    background-color: whitesmoke;
}

#work .work-collapsible-card-content.active {
    max-height: 100%;
}

@media only screen and (max-aspect-ratio: 9/24),
screen and (max-width: 1000px) {
    #work .row-content {
        min-height: 350px;
        max-height: 100%;
    }

    #work .row-header {
        font-size: 1.5rem;
        height: 5%;
    }

    #work .row-body {
        width: 95%;
        height: 95%
    }

    #work .work-collapsible {
        height: 95%;
        min-width: 350px;
    }
}